.infocardcollection__infocardcollection {
    padding-top: '2em';
}

/* Very tiny things like watches? */
@media (min-width: 0px) {
    .infocardcollection__infocardcollection {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .infocardcollection__infocardcollection {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}
