.portraitcircle__image_cropper {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    transition: 0;
}

.portraitcircle__image {
    display: inline;
    margin: 0 auto;
    margin-left: -25%;
    height: 100%;
    width: auto;
    transition: 0;
}
