#bgwithcurve__bgwithcurve {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-bottom: 2.5em;
}
#bgwithcurve__bottomCurvePath,
#bgwithcurve__topCurvePath {
    fill: #5e6b73;
    stroke: #5e6b73;
    stroke-width: 12px;
}

#bgwithcurve__bottomCurveSvg,
#bgwithcurve__topCurveSvg {
    display: block;
}

#bgwithcurve__bottomCurveSvg {
    position: relative;
    display: block;
    top: -1vh;
}

#bgwithcurve__background {
    position: relative;
    bottom: 1px;
    border: 10px solid #5e6b73;
    background-color: #5e6b73;
    width: 100%;
}

#bgwithcurve__content {
    margin-top: 1.5em;
}


/* Handles an issue with the bottom curve where the content section would clip into the curve image on small screen sizes. */
@media (min-height: 600px) {

    @media (max-width: 800px) { 
        #bgwithcurve__bottomCurveSvg {
            top: -0.5vh;
        }
    }

    @media (max-width: 300px) { 
        #bgwithcurve__bottomCurveSvg {
            top: -0.25vh;
        }
    }


}

